body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}





h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;

}

hr {
  color: lightgrey;
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  width: 5%;
}




.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 10%;
}

.middle-container {
  margin: 100px 0;
}


.bottom-container {
  background-color: #66BFBF;
  padding: 30px;

}



.top-cloud {
  position: absolute;
  right: 250px;
  top: 75px;
}

.bottom-cloud {
  position: absolute;
  left: 350px;
  bottom: 350px;
}

.profile {
  width: 50%;
  margin: auto;
}

.mountain {
  position: relative;
  top: 4px;
}


.lets-talk {
  width: 40%;
  margin: auto;
}

.skill-row {
  text-align: left;
  line-height: 2;
  width: 50%;
  margin: 100px auto 100px auto;
}

.programming-icon {
  width: 20%;
  float: left;
  margin-right: 30px;
  margin-bottom: 100px;
}


.coffee-icon {
  width: 20%;
  float: right;
  margin-left: 30px;
}



.my-picture {
  width: 30%;
}

.btn {
  font-size: 24px;
  border: solid;
  padding: 7.5px;
  display: inline-block;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #66BFBF;
  position: relative;
  top: 25px;

}

.btn:hover {
  background-color: grey;
}

.footer-link {
  margin: 10px;
}

.footer-link:hover {
  color: #EAF6F6;
}
.copy-right {
  color: #EAF6F6;
  font-size: small;
}
