body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

div{
  margin: 0;
}

hr {


}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;

  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}
p{
  margin-bottom: 0;
}

.mountain {
  display: inline-block;
  margin: 0;
  position: relative;
  top: 3px;
}


.top-container {
    background-color: #8566aa;
    position: relative;
    padding-top: 150px;
}

.middle-container {
  background-color: #f4f4f4;

}
.bottom-container {
  background-color: #8ec6c5;

}

.top-cloud {
  position: absolute;
  right: 500px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.icons {
  width: 10%;
}

.my-picture {
  width: 10%;
}
